RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# Hide PHP version from response headers
php_flag expose_php Off
Header always unset X-Powered-By
